
.footer-principal {
  background: var(--couleur-noir);
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--couleur-blanc);

  a {
    color: var(--couleur-blanc);
    text-decoration: none;
  }

  &:hover {
    color: var(--couleur-primaire);
    text-decoration: underline;
  }

  .copyright {
    text-align: center;
  }

}
